<!DOCTYPE html>
<!-- This template was created by Brian Cox ISM 5994 -->
<html lang="en">
<head>
	<title>Forward Fitness Club</title>
	<meta charset="utf-8">
</head>
<body>

	<!-- Use the header area for the website name or logo -->
	<header>
		Forward Fitness Club
	</header>
	
	<!-- use the nav area to add hyperlinks to the other pages within the website -->
	<nav>
		Home &nbsp; &nbsp;
		About Us &nbsp; &nbsp;
		Classes &nbsp; &nbsp;
		Nutrition &nbsp; &nbsp;
		Contact Us &nbsp; &nbsp;
		
	</nav>
	
	<!-- use the main area to add the main content of the webpage -->
	<main>
	</main>
	
	<!--use the footer area to add webpage footer content -->
	<footer>
		&copy; Copyright 2015.  All Rights Reserved. <br>
		forwardfitness@club.net
	</footer>

</body>
</html>